/*
Mobile (default)
 */

body {
  background-color: #00b4d8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 20px;
}

#About,
#Experience,
#Connect {
  margin: 1px 0;
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
}

#Connect {
  text-align: left;
}

h1 {
  font-family: inconsolata;
  font-size: 35px;
  font-weight: bold;
  color: brown;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: purple;
}

#Experience ul {
  list-style: none;
  padding: 0;
}

#Experience ul li {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

#Connect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(0, 255, 55);
}

header {
  position: sticky;
  top: 0;
}

.title-date {
  display: flex;
  font-weight: bold;
  color: black;
  width: 100%;
}
.date {
  margin-left: auto;
  margin-right: 50px;
}

.description {
  padding-left: 20px;
}

#Connect a {
  padding-left: 15px;
}

/* 
Tablet 
*/

@media (min-width: 768px) {
  /* changes to h1: font-size and color */
  h1 {
    font-size: 45px;
    color: darkred;
  }

  /* changes to the ul and li of #Experience: padding and background */

  #Experience ul li {
    padding-left: 15px;
    background-color: lightblue;
  }

  /* changes to #Connect: padding and font-size*/
  #Experience ul li {
    padding-left: 15px;
    background-color: rgb(125, 151, 160);
  }

  /* changes to #Connect: padding and font-size */
  #Connect a {
    padding-left: 25px;
    font-size: 18px;
  }
}

/* 
Desktop 
*/

@media (min-width: 1024px) {
  /* changes to h1: font-size and font-style*/

  h1 {
    font-size: 55px;
    font-style: italic;
  }

  /* changes to ul li of #Experience: padding and background */
  #Experience ul li {
    padding-left: 25px;
    background-color: rgba(142, 156, 177, 0.2);
  }

  /* #Connect a changes: padding + font-size */
  #Connect a {
    padding-left: 35px;
    font-size: 20px;
  }
}
